@font-face {
	font-family: 'font-name';
	src: url('../fonts/font-name.woff2') format('woff2'),
		url('../fonts/font-name.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'NaturalMonoAltRegular';
	src: url('../fonts/NaturalMonoAltRegular/Natural\ Mono\ Alt\ Regular.woff2') format('woff2'),
		url('../fonts/NaturalMonoAltRegular/Natural\ Mono\ Alt\ Regular.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway/Raleway.woff2') format('woff2'),
		url('../fonts/Raleway/Raleway.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
