.site-container {
	overflow: hidden;
}

.container {
	max-width: 800px;
	padding: 0 15px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.block-style {
	background-color: var(--sectionBackground-color);
	border-radius: 4px;
}
